<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="myTable" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element;let i=index" [attr.id]="element.id"> {{i}} </td>
  </ng-container>


  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> EMAIL </th>
    <td mat-cell *matCellDef="let element"> {{element.email}}</td>
  </ng-container>


  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef> FIRSTNAME </th>
    <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
  </ng-container>


  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef> LASTNAME</th>
    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
  </ng-container>

  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef> IMAGE</th>
    <td mat-cell *matCellDef="let element"> <img src={{element.avatar}}> </td>
  </ng-container>

  <ng-container matColumnDef="actions" >
    <th mat-header-cell *matHeaderCellDef> ACTION </th>
    <td mat-cell *matCellDef="let element"> <button (click)="openTempDialog(element)">EDIT</button> </td>
  </ng-container>

  <ng-container matColumnDef="actions2">
    <th mat-header-cell *matHeaderCellDef> ACTION </th>
    <td mat-cell *matCellDef="let element;let i=index"><button>DELETE </button> </td>
  </ng-container> -->


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>


<ng-template #dialogRef let-mydata>
  <h5>ADD FACILITY</h5>


  <form [formGroup]="myForm" >
    <div>
      <label>
        ID:
        <input formControlName="id" placeholder="ID">
      </label>
    </div>

    <div>
      <label>
        EMAIL:
        <input formControlName="email" placeholder="EMAIL" >
      </label>
    </div>

    <div>
      <label>
        FIRSTNAME:
        <input formControlName="first_name" placeholder="FIRSTNAME" >
      </label>
    </div>

    <div>
      <label>
        LASTNAME:
        <input formControlName="last_name" placeholder="LASTNAME" >
      </label>
    </div>

    <div>
      <label>
        IMAGE:
        <input formControlName="avatar" placeholder="IMAGE">
      </label>
    </div>

  </form>


